<ion-pane>
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="item" ng-if="error.length">

          Error: {{error[0].description}}
        </div>

        <div class="list">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="number" inputmode="numeric" pattern="[0-9]*" value={{searchValue}}
                     placeholder="Search by EAN" ng-model="searchValue">
            </label>
            <button class="button button-small button-positive" type="button" ng-click="searchProduct(searchValue)">
              Search
            </button>
          </div>
        </div>

        <div>
          <button class="button button-block button-positive" type="button" ng-click="scanBarcode()">Scan barcode
          </button>
        </div>
        <div class="card" ng-show="showCard">
          <div class="item item-divider">
            {{searchResult.length}}
            {{searchResult.product_name}} - {{searchResult.ranking}}
          </div>
          <div class="item item-text-wrap" style="min-height: 12rem;">
            <img src="{{searchResult.image_url}}" style="height: 200px; width: auto;" />
            <!--h1 style="font-size: 10rem">{{searchResult.ranking}}</h1-->
            <small>{{message}}</small>
          </div>
          <div class="item item-divider">
            {{searchResult.sugar_content_gram}}/100g
          </div>
        </div>
      </div>
    </div>


  </ion-content>
</ion-pane>

