<ion-pane>
  <ion-content>
    <div class="row">
      <div class="col">
        <h2>LOVE <i>of</i> BREAD </h2>
        <p>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at atque corporis culpa doloribus eos error explicabo, facere, incidunt libero modi natus non perspiciatis quam quibusdam tempore tenetur totam voluptatum!</span>
          <span>Accusantium at cumque cupiditate delectus deserunt dicta doloremque dolores dolorum eos, fuga fugiat illum ipsum minus nam necessitatibus neque nulla, odio odit perferendis quasi qui rem suscipit tempora veniam voluptatum!</span>
          <span>Doloremque eligendi laborum nisi quae ratione repellat totam vitae. Accusantium culpa, cumque doloremque et excepturi exercitationem expedita fugiat illum incidunt ipsum maxime quae ratione sint, tempora tenetur? Ex, maiores, sunt.</span>
        </p>

        <p><strong>Made with Love at Makers Academy Sweden.</strong></p>
      </div>
    </div>
  </ion-content>
</ion-pane>
