<ion-pane>
  <ion-content>
    <div class="row">
      <div class="col">
        <h2>LOVE <i>of</i> BREAD </h2>

        <p>
          This is an Lab-Week application from students at Makers Academy Bootcamp. The app aims to provide the user with an easy way to get information about healthy bread.
        </p>
        <p>Developed with Ionic and AngularJS for mobile and Sinatra for the back-end (api). Tested with RSpec, Capybara, Karma and Jasmine.</p>

        <p><strong>Made with <span class="ion-heart" style="color: red;"></span> at Makers Academy Sweden.</strong></p>
      </div>
    </div>
  </ion-content>
</ion-pane>
