<ion-pane>
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="item" ng-if="error.length">

          Error: {{error[0].description}}
        </div>

        <div class="list animate-hide" ng-show="showScan">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="number" inputmode="numeric" pattern="[0-9]*" value={{searchValue}}
                     placeholder="Search by EAN" ng-model="searchValue">
            </label>
            <button class="button button-small button-positive" type="button" ng-click="searchProduct(searchValue)">
              Search
            </button>
          </div>
        </div>

        <div ng-show="showScan">
          <button class="button button-block button-positive" type="button" ng-click="scanBarcode()">Scan barcode
          </button>
        </div>
        <div class="card" ng-show="showCard">
          <div class="item item-divider">
            {{searchResult.length}}
            {{searchResult.brand_name}} - {{searchResult.product_name}}
          </div>
          <div class="item item-text-wrap" style="min-height: 8rem;">
            <div class="row">
              <div class="col col-50">

                <img ng-src="{{searchResult.image_url}}" style="height: 100px; width: auto;"/>
              </div>
              <div class="col col-35 col-offset-15" style="text-align:center;">
                <h1 style="font-size: 6rem">{{searchResult.ranking}}</h1>

                <p>
                  <small>Ranking</small>
                </p>
              </div>
            </div>



          </div>
          <div class="item item-divider">
            Socker: {{searchResult.sugar_content_gram}}/100g
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-pane>

