<ion-tabs class="tabs-positive tabs-icon-left">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/main">
    <ion-nav-view name="tab-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-book" icon-off="ion-ios-book-outline" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Update" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/update">
    <ion-nav-view name="tab-update"></ion-nav-view>
  </ion-tab>

</ion-tabs>
